In [3]:
import pandas
import numpy
import sklearn

In [11]:
td = pandas.read_table("train.tsv")

      id  survived  pclass     sex   age  sibsp  parch      fare embarked
0      3         1       1  female  35.0      1      0   53.1000        S
1      4         0       3    male  35.0      0      0    8.0500        S
2      7         0       3    male   2.0      3      1   21.0750        S
3      9         1       2  female  14.0      1      0   30.0708        C
4     11         1       1  female  58.0      0      0   26.5500        S
5     13         0       3    male  39.0      1      5   31.2750        S
6     16         0       3    male   2.0      4      1   29.1250        Q
7     19         1       3  female   NaN      0      0    7.2250        C
8     23         1       1    male  28.0      0      0   35.5000        S
9     24         0       3  female   8.0      3      1   21.0750        S
10    25         1       3  female  38.0      1      5   31.3875        S
11    26         0       3    male   NaN      0      0    7.2250        C
12    28         1       3  female   NaN      0      0    7.8792        Q
13    29         0       3    male   NaN      0      0    7.8958        S
14    32         1       3  female   NaN      0      0    7.7500        Q
15    33         0       2    male  66.0      0      0   10.5000        S
16    36         1       3    male   NaN      0      0    7.2292        C
17    41         0       2  female  27.0      1      0   21.0000        S
18    42         0       3    male   NaN      0      0    7.8958        C
19    43         1       2  female   3.0      1      2   41.5792        C
20    44         1       3  female  19.0      0      0    7.8792        Q
21    47         1       3  female   NaN      0      0    7.7500        Q
22    53         1       2  female  29.0      1      0   26.0000        S
23    56         1       2  female  21.0      0      0   10.5000        S
24    57         0       3    male  28.5      0      0    7.2292        C
25    58         1       2  female   5.0      1      2   27.7500        S
26    59         0       3    male  11.0      5      2   46.9000        S
27    61         1       1  female  38.0      0      0   80.0000      NaN
28    63         0       3    male   4.0      3      2   27.9000        S
29    67         0       3    male  19.0      0      0    8.1583        S
..   ...       ...     ...     ...   ...    ...    ...       ...      ...
415  834         0       3    male  18.0      0      0    8.3000        S
416  835         1       1  female  39.0      1      1   83.1583        C
417  836         0       3    male  21.0      0      0    8.6625        S
418  840         0       3    male  20.0      0      0    7.9250        S
419  842         1       1  female  30.0      0      0   31.0000        C
420  844         0       3    male  17.0      0      0    8.6625        S
421  845         0       3    male  42.0      0      0    7.5500        S
422  846         0       3    male   NaN      8      2   69.5500        S
423  847         0       3    male  35.0      0      0    7.8958        C
424  849         1       1  female   NaN      1      0   89.1042        C
425  850         0       3    male   4.0      4      2   31.2750        S
426  853         1       1  female  16.0      0      1   39.4000        S
427  854         0       2  female  44.0      1      0   26.0000        S
428  855         1       3  female  18.0      0      1    9.3500        S
429  856         1       1  female  45.0      1      1  164.8667        S
430  858         1       3  female  24.0      0      3   19.2583        C
431  860         0       3    male  41.0      2      0   14.1083        S
432  861         0       2    male  21.0      1      0   11.5000        S
433  863         0       3  female   NaN      8      2   69.5500        S
434  865         1       2  female  42.0      0      0   13.0000        S
435  867         0       1    male  31.0      0      0   50.4958        S
436  868         0       3    male   NaN      0      0    9.5000        S
437  869         1       3    male   4.0      1      1   11.1333        S
438  871         1       1  female  47.0      1      1   52.5542        S
439  872         0       1    male  33.0      0      0    5.0000        S
440  873         0       3    male  47.0      0      0    9.0000        S
441  874         1       2  female  28.0      1      0   24.0000        C
442  879         1       1  female  56.0      0      1   83.1583        C
443  884         0       3    male  25.0      0      0    7.0500        S
444  888         0       3  female   NaN      1      2   23.4500        S

[445 rows x 9 columns]

'/Users/matsushitaei/Downloads/titanic'